body {
  font-size: 1.2rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  margin: 0 1rem 0 0;
  padding: 0px;
}

.space-right {
  margin: 0 1rem 0 0;
}

.bar1 {
  height: 8rem;
}

.alignitemscenter {
  align-items: center;
}

.border {
  border: 2px solid black;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 16px;
}

.count-text {
  width: 20rem;
  margin-right: 8px;
}

.dark .border {
  border: 2px solid yellow;
}

.dark {
  background-color: black;
  color:azure;
}

button {
  background-color: lightgray;
  border: 2px solid black;
  width: 8rem;
  margin: 8px;
}

#widebutton {
  width: 10rem;
}

#widerbutton {
  width: 14rem;
}

button:focus {
  background-color: blue;
  color: white;
}

button:hover{
  background-color: aqua;
}

.dark button {
  background-color: darkblue;
  border: 2px solid yellow;
  color: yellow;
}

.dark button:focus {
  background-color: purple;
}

.dark button:hover {
  background-color: darkgreen;
}

input {
  font-size: 1.5rem;
  width: 6rem;
  text-align: center;
}

.dark input {
  background-color: black;
  color: white; 
}

.flexh {
  display: flex;
}

.focusme:focus {
  background-color: green;
  color: white;
  border: 1px solid yellow;
}

.jc-center {
  justify-content: center;
}

.jc-spacebetween {
  justify-content: space-between;
}

.jc-spaceevenly {
  justify-content: space-evenly;
}

.mediumsize {
  width: 35rem;
}

.reset-count {
  width: 12rem;
}

.textaligncenter {
  text-align: center;
  padding: 12px;
}

.vhvw100 {
  height: 100vh;
  width: 100vw;
}
